name: Site

on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [published]

concurrency:
  group: "site-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: false

jobs:
  site-pr:
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      contents: read
[%- if site_generator == "mkdocs" %]
    uses: athackst/ci/.github/workflows/mkdocs_site.yml@main
    with:
      pages: false
[%- if site_version %]
      version: [[ site_version ]]
[%- endif %]
[%- else %]
    uses: athackst/ci/.github/workflows/jekyll_site.yml@main
    with:
      pages: false
[%- endif %]
    secrets: inherit

  site-main:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
      pages: write
      id-token: write
[%- if site_generator == "mkdocs" %]
    uses: athackst/ci/.github/workflows/mkdocs_site.yml@main
    with:
      pages: true
[%- if site_version %]
      version: [[ site_version ]]
[%- endif %]
[%- else %]
    uses: athackst/ci/.github/workflows/jekyll_site.yml@main
    with:
      pages: true
[%- endif %]
    secrets: inherit

[%- if site_generator == "mkdocs" %]

  site-release:
    if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: athackst/ci/.github/workflows/mkdocs_site.yml@main
    with:
      pages: true
[%- if site_version %]
      version: [[ site_version ]]
      release-tag: ${{ github.event.release.tag_name }}
[%- endif %]
    secrets: inherit
[%- endif %]
