name: CI update

on:
  repository_dispatch:
    types:
      - ci-update
  workflow_dispatch:

concurrency:
  group: "ci-update-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: false


jobs:
  ci-update:
    permissions:
      contents: write
      pull-requests: write
      actions: write
    uses: athackst/ci/.github/workflows/ci_updater.yml@main
    with:
      create-pr: true
      automerge: true
    secrets:
      token: ${{ secrets.CI_BOT_TOKEN }}
