name: Jekyll site CI/CD

on:
  workflow_call:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      base_url: ${{ steps.pages.outputs.base_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.161.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          enablement: true
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Debug output
        run: |
          tree
          cat _site/index.html
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v2

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: github-pages
      - name: Extract
        run: |
          mkdir _site
          tar --directory _site -xvf "artifact.tar"
          tree
      - name: Generate ignore list from HTML files
        id: generate-ignore-list
        run: |
          HOSTNAME="${{ needs.build.outputs.base_url }}"
          
          # Find all .html files, remove the _site prefix, and prepend the hostname
          IGNORE_LIST=$(find _site -name "*.html" | sed "s|^_site|$HOSTNAME|")

          # Add additional ignored URLs manually
          IGNORE_LIST+="
          https://www.linkedin.com/in/allisonthackston
          /twitter.com/"

          # Save as a multi-line GitHub output
          {
            echo "ignore_list<<EOF"
            echo "$IGNORE_LIST"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Test with htmlproofer
        uses: athackst/htmlproofer-action@main
        with:
          ignore_urls: |
            ${{ steps.generate-ignore-list.outputs.ignore_list }}

  # Deployment job
  deploy:
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [ build, test ]
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
