name: Test workflows and actions

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: actionlint
        id: actionlint  #optional, id required only when outputs are used in the workflow steps later
        uses: raven-actions/actionlint@v2
        with:
            fail-on-error: false  # optional

      - name: actionlint Summary
        run: |
            echo "Used actionlint version ${{ steps.actionlint.outputs.version-semver }}"
            echo "Used actionlint release ${{ steps.actionlint.outputs.version-tag }}"
            echo "actionlint ended with ${{ steps.actionlint.outputs.exit-code }} exit code"
            echo "actionlint ended because '${{ steps.actionlint.outputs.exit-message }}'"
            echo "actionlint found ${{ steps.actionlint.outputs.total-errors }} errors"
            echo "actionlint checked ${{ steps.actionlint.outputs.total-files }} files"
            echo "actionlint cache used: ${{ steps.actionlint.outputs.cache-hit }}"
            exit ${{ steps.actionlint.outputs.exit-code }}
