name: pr labeler
on:
  pull_request:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PR Labeler config
        uses: athackst/buildsmith/actions/pr-labeler@main
        with:
          github_token: ${{ github.token }}

      - name: Check PR Label config
        run: |
          echo "Using the following PR Labeler configuration:"
          cat .github/pr-labeler.yml
