name: pr labeler
on:
  workflow_call:

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run PR Labeler
        uses: athackst/buildsmith/actions/pr-labeler@main
        with:
          github_token: ${{ github.token }}
