name: PR Labeler
on:
  workflow_call:
concurrency:
  group: "pr-labeler-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: false

jobs:
  pr-labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: athackst/ci/actions/pr-labeler@main
        with:
          github_token: ${{ github.token }}
