name: Test workflows

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  workflow-pr-labeler:
    # This is intentionally pointed at ./workflows/ to validate whether
    # GitHub accepts reusable workflows outside .github/workflows.
    uses: ./.github/workflows/pr_labeler.yml
    secrets: inherit
