name: Test workflows

on:
  workflow_dispatch:
  pull_request:

jobs:
  workflow-pr-labeler:
    permissions:
      contents: read
      pull-requests: write
    # This is intentionally pointed at ./workflows/ to validate whether
    # GitHub accepts reusable workflows outside .github/workflows.
    uses: ./.github/workflows/pr_labeler.yml
    secrets: inherit

  workflow-mkdocs-site:
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: ./.github/workflows/mkdocs_site.yml
    secrets: inherit
    with:
      pages: false
      htmlproofer-ignore-urls: |
        /^https://github.com/athackst/ci$/

  actions-success:
    needs:
      - workflow-pr-labeler
      - workflow-mkdocs-site
    runs-on: ubuntu-latest
    steps:
      - name: Evaluate upstream job results
        shell: bash
        run: |
          echo "All workflow tests passed."
