name: Reusable workflow path test

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  # workflow-pr-labeler:
  #   # This is intentionally pointed at ./workflows/ to validate whether
  #   # GitHub accepts reusable workflows outside .github/workflows.
  #   uses: ./.github/workflows/pr_labeler.yml
  #   secrets: inherit

  # action-labeler:
  #   permissions:
  #     contents: read
  #     pull-requests: write
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: athackst/ci/actions/labeler@main

  local-action-labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./actions/labeler
        # with:
          # configuration-path: .github/fixtures/test-labeler.yml
